[submodule "setup/https%3A%2F%2Fgithub.com%2Ffurrymcgee%2Frelease%2Fraw%2Fmaster%2F"]
	path = setup/https%3A%2F%2Fgithub.com%2Ffurrymcgee%2Frelease%2Fraw%2Fmaster%2F
	url = https://github.com/furrymcgee/release.git
